<hr class="footer-line">

<div id="page-footer" class="feature-section pt-5 pb-5 mt-5" style="background-color:#f5fafd">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h5 class="pl-3">COMPANY INFO</h5>
        <nav class="nav flex-column">
          <a class="nav-link" href="#">About NEWPOWER</a>
          <a class="nav-link" href="#">NEOPOWER Intellectual Properties</a>
          <a class="nav-link" href="#">NEWPOWER Technology</a>
          <a class="nav-link" href="#">NEWPOWER Materials</a>
        </nav>
      </div>
      <div class="col-sm-4">
        <h5 class="pl-3">SUPPORT & SERVICES</h5>
        <nav class="nav flex-column">
          <a class="nav-link" href="#">Customor Service</a>
          <a class="nav-link" href="#">Shipping Policy</a>
          <a class="nav-link" href="#">Return Policy</a>
          <a class="nav-link" href="#">Order Status</a>
        </nav>
      </div>
      <div class="col-sm-4">
        <h5 class="pl-3">CONTACT US</h5>
        <nav class="nav flex-column">
          <a class="nav-link" href="#">Tell & WhatsApp</a>
        </nav>
      </div>
    </div>
  </div>
</div>