<div class="container">
  <div class="row align-items-center justify-content-between">
    <div class="col-sm-4">
      <!-- <select class="form-control" style="max-width: 250px;" id="exampleFormControlSelect1">
        <option>English</option>
        <option>Portuguese</option>
      </select> -->
    </div>
    <div class="col-sm-4">
      <img src="{{"/assets/images/neopower-logo.jpg" | relative_url }}" class="img-fluid">
    </div>
    <div class="col-sm-4">
      <div class="d-flex header-icons" role="group">
        <div class="search rounded-pill">
          <input type="text" class="search-input ml-auto form-control rounded-pill" placeholder="Search">
          <button class="search-svg btn bmd-btn-icon">
            {% include icons/baseline-search-24px.svg %}
          </button>
        </div>
        <button class="btn hover-accent" data-toggle="modal" data-target="#languageModal">English</button>
        <button class="btn bmd-btn-icon">
          {% include icons/baseline-shopping_basket-24px.svg %}
        </button>
      </div>
    </div>
  </div>
</div>
<nav id="main-nav" class="mt-3 sticky-top navbar navbar-expand-lg navbar-light">
  <div class="container position-relative">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav d-flex justify-content-between" style="width: 100%">
        {% for menu in site.main_menu %}
          <li class="nav-item {% if menu.dropdown %}dropdown{% endif %}">
            <a class="nav-link {% if menu.dropdown %}dropdown-toggle{% endif %} {% if menu.url == page.url %}active{% endif %}" href="{{site.baseurl}}{{menu.url}}">
              {{menu.name}}
              <!-- <div class="svg-icons">
                {% include icons/baseline-keyboard_arrow_down-24px.svg %}
              </div> -->
            </a>
            {% if menu.dropdown %}
            <div class="dropdown-menu mega-dropdown container shadow" aria-labelledby="navbarDropdown">
              <div class="row">
              {% assign category_selector = menu.name | downcase | replace: ' ', '' %}
              {% for categories in site.category_list[category_selector] %}
              <div class="col-sm" style="max-width: 15rem">
                <h6 class="dropdown-heading">{{categories[0]}}</h6>
                <ul class="nav flex-column">
                  {% for category in categories %}
                  {% if forloop.index == 1 %}
                    {%- continue -%}
                  {% endif %}
                  {% for category_item in category %}
                  <a class="dropdown-item" href="{{menu.url | relative_url }}#product-{{ category_item | downcase | remove: '& ' | replace: ' ', '-' }}">
                    {{category_item}}
                  </a>
                  {% endfor %}
                  {% endfor %}
                </ul>
              </div>
              {% endfor %}
              <div class="col-sm-2 ml-auto">
                {% if menu.img contains "://" %}
                  {% assign menuImage = menu.img %}
                {% else %}
                  {% capture menuImage %}assets/images{{menu.img}}{% endcapture %}
                  {% assign menuImage = menuImage | relative_url %}
                {% endif %}
                <img class="img-fluid" src="{{ menuImage }}">
              </div>
              <!-- <div class="col-sm-6">
                <h6 class="dropdown-heading">Second Row</h6>
                <ul class="nav flex-column">
                  <a class="dropdown-item" href="#">Link #1</a>
                  <a class="dropdown-item" href="#">Link #2</a>
                  <a class="dropdown-item" href="#">Link #3</a>
                </ul>
              </div> -->
              </div>
            </div>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div> 
</nav>

<!-- Language Modal -->
<div class="modal fade" id="languageModal" tabindex="-1" role="dialog" aria-labelledby="languageModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change Language</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="nav">
          <li class="nav-item active"><a class="nav-link" href="#">English</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Español</a></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>