<div class="container" id="header">
  <div class="row align-items-center justify-content-between">
    <div class="col-sm-4">
      <!-- <select class="form-control" style="max-width: 250px;" id="exampleFormControlSelect1">
        <option>English</option>
        <option>Portuguese</option>
      </select> -->
    </div>
    <div class="col-sm-4 text-center mb-2 mb-sm-0">
      <a class="d-block" href="{{ '/' | relative_url }}">
        <img src="{{"/assets/images/neopower-logo.jpg" | relative_url }}" class="img-fluid">
      </a>
    </div>
    <div class="col-sm-4">
      <div class="d-flex header-icons" role="group">
        <div class="search rounded-pill">
          <input type="text" class="search-input ml-auto form-control rounded-pill" placeholder="Search">
          <button class="search-svg btn bmd-btn-icon svg-icons">
            {% include icons/baseline-search-24px.svg %}
          </button>
        </div>
        <button class="btn hover-accent" v-b-modal.modal-language>English</button>
        <button class="btn bmd-btn-icon svg-icons">
          {% include icons/baseline-shopping_basket-24px.svg %}
        </button>
      </div>
    </div>
  </div>
  <b-modal id="modal-language" title="Change Language" v-cloak>
      <ul class="nav">
        <li class="nav-item active"><a class="nav-link" href="#">English</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Español</a></li>
      </ul>
    </b-modal>
</div>
<nav id="main-nav" class="sticky-top navbar navbar-expand-lg navbar-light" v-scroll:187="testCall">
  <div class="container position-relative">
    
    <b-navbar-toggle target="nav-collapse" class="svg-icons">
      {% include icons/baseline-menu-24px.svg %}
    </b-navbar-toggle>
    <transition name="fade">
    <a id="nav-logo" animation="fadeInLeft" class="navbar-brand mr-0 p-0 navbar-scroll" style="height: 37px" href="{{ '/' | relative_url }}" v-if="showIcons" v-cloak>
      <img class="img-fluid" src="{{ '/assets/images/neopower-logo-small.png' | relative_url }}">
    </a>
    </transition>
    <transition name="fade">
    <button class="btn shopping-basket bmd-btn-icon navbar-scroll" animation="fadeInRight" v-if="showIcons" v-cloak>
      {% include icons/baseline-shopping_basket-24px.svg %}
    </button>
    </transition>
    <b-collapse id="nav-collapse" is-nav>
      <ul class="navbar-nav d-flex justify-content-between align-items-center" style="width: 100%">
        {%- for menu in site.main_menu -%}
          {%- if menu.dropdown -%}
          {% assign category_selector = menu.name | downcase | replace: ' ', '' %}
          {% assign columnLength = site.category_list[category_selector].size %}
          
          <mega-menu {% if menu.url == page.url %}active{% endif %} {% unless menu.dropdown.fullWidth %}:width="{{ columnLength | times: 18 | plus: 5 }}"{% endunless %} {% if menu.dropdown.fullWidth %}full-width{% endif %} href="{{ menu.url | relative_url }}">
            <template v-slot:name>
              {{menu.name}}
            </template>
            <div class="row" v-cloak>
              {% for categories in site.category_list[category_selector] %}
              <div class="col-sm dropdown-column">
                <h5 class="dropdown-heading">{{categories[0]}}</h5>
                <ul class="nav flex-column">
                  {% for category in categories %}
                  {% if forloop.index == 1 %}
                  {%- continue -%}
                  {% endif %}
                  {% for category_item in category %}
                  <a class="dropdown-item" href="{{menu.url | relative_url }}#{{ category_item | downcase | replace: ' ', '-' }}">
                    {{category_item}}
                  </a>
                  {% endfor %}
                  {% endfor %}
                </ul>
              </div>
              {% endfor %}
              <div class="col-sm ml-auto">
                {% if menu.img contains "://" %}
                {% assign menuImage = menu.img %}
                {% else %}
                {% capture menuImage %}assets/images{{menu.img}}{% endcapture %}
                {% assign menuImage = menuImage | relative_url %}
                {% endif %}
                <img class="img-fluid" src="{{ menuImage }}">
              </div>
              <!-- <div class="col-sm-6">
                <h6 class="dropdown-heading">Second Row</h6>
                <ul class="nav flex-column">
                  <a class="dropdown-item" href="#">Link #1</a>
                  <a class="dropdown-item" href="#">Link #2</a>
                  <a class="dropdown-item" href="#">Link #3</a>
                </ul>
              </div> -->
            </div>
          </mega-menu>

          {%- else -%}
          <li class="nav-item">
            <a class="nav-link {% if menu.url == page.url %}active{% endif %}" href="{{site.baseurl}}{{menu.url}}">
              {{menu.name}}
            </a>
          </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </b-collapse>
  </div> 
</nav>

<!-- Language Modal -->
<!-- <div class="modal fade" id="languageModal" tabindex="-1" role="dialog" aria-labelledby="languageModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change Language</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="nav">
          <li class="nav-item active"><a class="nav-link" href="#">English</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Español</a></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->