.mega-dropdown {
  margin-top: 0;
  border-radius: 0;
  min-width: auto;
  border: 0;
  background: #FFF;
  padding: 1.5rem 2rem;
  min-width: 100%;
  animation: openMenuReverse 0.2s 1 ease-in-out;
  
  //display: block;
  //visibility: hidden;
  //top: -10px;
  //opacity: 0;

  &.open {
    animation: openMenu 0.2s 1 ease-in-out;
  }
}
@keyframes openMenu{
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes openMenuReverse{
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
  0% {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-heading {
  padding-bottom: 0.5rem;
  text-transform: capitalize;
}
.dropdown {
  position: static;

  > .dropdown-toggle::after {
    border-right-width: 0.2em;
    border-left-width: 0.2em;
    margin-left: 0.1em;
    vertical-align: middle;
  }
}
.dropdown-item {
  padding-left: 0;
  padding-right: 0;
  transition: all 0.2s ease-in-out;
  color: #7e7e7e;

  &:hover,&:active,&:focus,&.active {
    background: transparent;
    color: $color-accent;
  }
}