.mega-dropdown {
  margin-top: 0;
  border-radius: 0;
  min-width: auto;
  border: 0;
  background: #FFF;
  padding: 1.5rem 2rem;
  min-width: 100%;
}
.dropdown-heading {
  padding-bottom: 0.5rem;
  text-align: center;
  text-transform: capitalize;
}
.dropdown {
  position: static;

  > .dropdown-toggle::after {
    border-right-width: 0.2em;
    border-left-width: 0.2em;
    margin-left: 0.1em;
    vertical-align: middle;
  }
}
.dropdown-item {
  padding-left: 0;
  padding-right: 0;
  transition: all 0.2s ease-in-out;

  &:hover,&:active,&:focus,&.active {
    background: transparent;
    color: $color-accent;
  }
}