.jumbo-container {
  @include media-breakpoint-down(md) {
    padding: 0;
    width: auto;
    margin: 0;
  }
}

.jumbo-content {
  padding: 0.5rem;
  @include media-breakpoint-up(md) {
    padding: 1.5rem
  }
}