.product-card {
  border: 0;
  cursor: pointer;
  color: #212529;
  height: 100%;
  transition: box-shadow 0.2s ease-in-out;

  &:hover,&:active,&:focus {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    text-decoration: none;
    color: $color-accent;

    .product-card-img {
      opacity: 0;
    }

    .product-card-img-hover {
      opacity: 1;
    }
  }

  .product-card-img,.product-card-img-hover {
    transition: opacity 0.2s ease-in-out;
  }

  .product-card-img-hover {
    position: absolute;
    opacity: 0;
  }

  &-enlarge {
    transform: scale3d(1,1,1);
    transition: all 0.2s ease-in-out;

    &:hover,&:focus {
      transform: scale3d(1.05,1.05,1.05);
    }
  }

  .card-title  {
    //color: #212529;
    @include media-breakpoint-down(sm) {
      font-size: 1em;
    }
    transition: all 0.2s ease-in-out;
  }
}