---
layout: default
---

<div class="container">
  <div class="banner">
    {% for banner in site.banners %}
    {% if banner contains "://" %}
      {% assign banner1 = banner %}
    {% else %}
      {% capture banner1 %}assets/images{{banner}}{% endcapture %}
      {% assign banner2 = banner1 | relative_url %}
    {% endif %}
    <img class="img-fluid shadow rounded" src="{{ banner2 }}">
    {% endfor %}
  </div>
</div>

<div class="feature-section mt-5">
  <div class="container text-center">
    <h1 class="text-center section-heading">{{ page.title }}</h1>
    {{ content }}
  </div>
</div>

{% for menu in site.main_menu %}

{% if menu.url == page.url %}

{% for subitem in menu.subitems %}


{% for sitepage in site.pages %}


{% if subitem.url == sitepage.url %}

<div class="feature-section product-misc">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">

        <!-- Use [0] to verify data type to be either string or array -->
        {% if sitepage.feature_image[1] %}

        <div class="slick-slider-thumbnail">
              
          {% for feature_image_1 in sitepage.feature_image %}
            {% if feature_image_1 contains "://" %}
              {% assign feature_image = feature_image_1 %}
            {% else %}
              {% capture feature_image_2 %}assets/images{{feature_image_1}}{% endcapture %}
              {% assign feature_image = feature_image_2 | relative_url %}
            {% endif %}
            <div>
            <img class="img-fluid" src="{{ feature_image }}">
            </div>
          {% endfor %}

        </div>

        {% else %}
          {% if sitepage.feature_image contains "://" %}
            {% assign feature_image = sitepage.feature_image[0] %}
          {% else %}
            {% capture feature_image %}assets/images{{sitepage.feature_image[0]}}{% endcapture %}
            {% assign feature_image = feature_image | relative_url %}
          {% endif %}
          <img class="img-fluid" src="{{ feature_image }}">
        {% endif %}
      </div>
      <div class="col-sm-6">
        <h2 class="text-uppercase mb-3">{{ sitepage.title }}</h2>
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h3>$39.00</h3>
          <small class="text-muted">0401</small>
        </div>
        <div class="user-content">
        {{ sitepage.content | markdownify }}
        </div>
        
        <h5>Colors</h5>
        <div class="d-flex mb-3">
          <div class="color-option product-options" style="background-color: #e4c5b7"></div>
          <div class="color-option product-options" style="background-color: #df4468"></div>
        </div>
        <div class="d-flex">
          <div>
            <h5>Quantity</h5>
            <div class="input-group input-group-numerical">
              <span class="input-group-btn input-numerical-left">
                <button type="button" class="btn btn-white">-</button>
              </span>
             <input class="form-control" type="number" value="1" min="1" max="12">
             <span class="input-group-btn input-numerical-right">
               <button type="button" class="btn btn-white">+</button>
             </span>
            </div>
          </div>
          <button class="btn btn-primary btn-lg ml-auto">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %}

{% endfor %}

{% endfor %}

{% endif %}

{% endfor %}