---
layout: default
---
{% include jumbotron.html %}

<div class="container">
  {{content}}
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3 mb-4">
      <div class="sticky-top filter-sidebar" id="filter-sidebar" style="top: 70px;">
      <button class="d-md-none btn btn-block btn-collapse" data-toggle="collapse">
        Categories <div class="collapse-icon rotate-180">{% include icons/baseline-keyboard_arrow_down-24px.svg %}</div>
        </button>
      <div class="collapse show">
      {% for categories in site.category_list[page.subitems] %}
      <h6 class="filter-heading">By {{categories[0]}}</h6>
      <ul class="nav flex-column">
        {% for category in categories %}
        {% if forloop.index == 1 %}
          {%- continue -%}
        {% endif %}
        {% for category_item in category %}
        <li class="nav-item filter-item">
          <a class="nav-link filter-link" data-toggle="filter" href="product-{{ category_item | downcase | replace: ' ', '-' }}">{{ category_item }}</a>
        </li>
        {% endfor %}
        {% endfor %}
      </ul>
      {% endfor %}
      <ul class="nav flex-column">
        <li class="nav-item filter-reset fadeReady hidden-init">
          <a class="nav-link" href="#"><strong>Show All</strong></a>
        </li>
      </ul>
      </div>
      </div>
    </div>
    <div class="col-md-9">

      <h1 id="current-category" class="text-capitalize hidden-init"></h1>
      <h4 id="current-length" class="hidden-init"></h4>
  
      <div class="row filter-items" id="product-overview">
  
      {%- for menu in site.main_menu -%}

      {%- if menu.url == page.url -%}

      {%- for subitem in menu.subitems -%}
      
  
      {%- for sitepage in site.pages -%}
  
  
      {%- if subitem.url == sitepage.url -%}
  
      <div class="col-sm-4 col-6 mb-5 text-center fadeReady fadeShow product-overview-item {% if sitepage.categories %}{% for category in sitepage.categories %}product-{{category | downcase | replace: ' ', '-' }} {% endfor %}{% endif %}">
        {% include product_card.html data=sitepage %}
      </div>
  
      {%- endif -%}
  
      {%- endfor -%}

      {%- endfor -%}

      {%- endif -%}
  
      {%- endfor -%}

      </div>
    </div>
  </div>
</div>