---
layout: default
---
{% include jumbotron.html %}

<div class="container">
  {{content}}
</div>

<div class="container" id="productOverview">
  <div class="row">
    <div class="col-md-3 mb-4">
      <div class="sticky-top filter-sidebar" id="filter-sidebar" style="top: 70px;">
      <button class="d-md-none btn btn-block btn-collapse" v-b-toggle.collapse-filter>
        Categories <div class="collapse-icon">{% include icons/baseline-keyboard_arrow_down-24px.svg %}</div>
      </button>
      <b-collapse id="collapse-filter" v-model="categoryCollapseVisible">
      {% for categories in site.category_list[page.subitems] %}
      <h6 class="filter-heading">By {{categories[0]}}</h6>
      <ul class="nav flex-column">
        {% for category in categories %}
        {% if forloop.index == 1 %}
          {%- continue -%}
        {% endif %}
        {% for category_item in category %}
        <li class="nav-item filter-item">
          <a class="nav-link filter-link" :class="{ active: currentCategory == '{{category_item | downcase | replace: ' ', '-'}}' }" @click.prevent="selectCategory('{{category_item | downcase | replace: ' ', '-'}}')" href="#">{{ category_item }}</a>
        </li>
        {% endfor %}
        {% endfor %}
      </ul>
      {% endfor %}
      <ul class="nav flex-column">
        <li class="nav-item" v-if="currentCategory">
          <a class="nav-link" @click.prevent="selectCategory('')" href="#"><strong>Show All</strong></a>
        </li>
      </ul>
      </b-collapse>
      </div>
    </div>
    <div class="col-md-9" v-cloak>

      <h1 v-if="currentCategory" id="current-category" class="text-capitalize">{[ currentCategoryText ]}</h1>
  
      <div class="row filter-items">

      {% assign menu = site.main_menu | where: "url", page.url | first %}

      {%- for subitem in menu.subitems -%}
      
  
      {% assign sitepage = site.pages | where: "url", subitem.url | first %}

      {%- if sitepage -%}
      <product-item :data='{{ sitepage.categories | jsonify | downcase | replace: ' ', '-' }}' :current="currentCategory" class="col-sm-4 col-6 mb-5 text-center fadeReady fadeShow product-overview-item">
        {% include product_card.html data=sitepage %}
      </product-item>
      {%- endif -%}

      {%- endfor -%}

      </div>
    </div>
  </div>
</div>