---
layout: page
---

<div class="feature-section product-page">
  <div class="container">
      <Product></Product>
    <!-- <div class="row"> -->
      
      <!-- <div class="col-sm-5 mb-4"> -->

        <!-- Use [0] to verify data type to be either string or array -->
        <!-- {% if page.feature_image[0] %}

        <slick :options="{autoplay: true,autoplaySpeed: 4000,dots: true}" v-cloak>
              
          {% for feature_image_1 in page.feature_image %}
            {% if feature_image_1 contains "://" %}
              {% assign feature_image = feature_image_1 %}
            {% else %}
              {% capture feature_image_2 %}assets/images{{feature_image_1}}{% endcapture %}
              {% assign feature_image = feature_image_2 | relative_url %}
            {% endif %}
            <div>
            <img class="img-fluid" src="{{ feature_image }}">
            </div>
          {% endfor %}

        </slick>

        {% else %}
          {% if page.feature_image contains "://" %}
            {% assign feature_image = page.feature_image %}
          {% else %}
            {% capture feature_image %}assets/images{{page.feature_image}}{% endcapture %}
            {% assign feature_image = feature_image | relative_url %}
          {% endif %}
          <img class="img-fluid" src="{{ feature_image }}">
        {% endif %}
      </div>
      <div class="col-sm-7"> -->
        
        <!-- <h2 class="">{{ page.title }} </h2>
        <h5 class="mb-3 text-muted">{{ page.subtitle }}</h5>
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h3>${{ page.price | money }}</h3>
          <h6>Availabiliy: <span style="color: green">In Stock</span></h6>
        </div>
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" data-toggle="tab" href="#nav-product-desc" role="tab" aria-controls="nav-home" aria-selected="true"><span class="d-none d-md-inline">Product</span> Description</a>
            <a class="nav-item nav-link" data-toggle="tab" href="#nav-size-chart" role="tab" aria-controls="nav-profile" aria-selected="false">Size Charts</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active user-content" id="nav-product-desc" role="tabpanel" aria-labelledby="nav-product-description">
            {{ content }}
          </div>
          <div class="tab-pane fade" id="nav-size-chart" role="tabpanel" aria-labelledby="nav-size-chart">
            Size Table
          </div>
        </div>
        
        <h5>Size</h5>
        <div class="d-flex mb-3 flex-wrap">
          {% if page.sizes %}
          {% for size in page.sizes %}
            <div class="product-options size-options {% if size.disabled %}disabled{% endif %}">{{size.name}}</div>
          {% endfor %}
          {% else %}
          <div class="product-options size-options">S</div>
          <div class="product-options size-options">M</div>
          <div class="product-options size-options">L</div>
          <div class="product-options size-options">XL</div>
          <div class="product-options size-options disabled">2XL</div>
          <div class="product-options size-options disabled">3XL</div>
          <div class="product-options size-options disabled">4XL</div>
          {% endif %}
        </div>

        <h5>Colors</h5>
        <div class="d-flex mb-3">
          {% if page.colors %}
          {% for color in page.colors %}
            <div class="color-option product-options color-{{ color | downcase }}"></div>
          {% endfor %}
          {% else %}
          <div class="color-option product-options color-black"></div>
          <div class="color-option product-options color-mocha"></div>
          <div class="color-option product-options color-beige"></div>
          {% endif %}
        </div>
        <div class="d-md-flex justify-content-between align-items-center">
          <div>
            <h5>Quantity</h5>
            <div class="input-group input-group-numerical mb-4">
              <span class="input-group-btn input-numerical-left">
                <button type="button" class="btn btn-white">-</button>
              </span>
              <input class="form-control" type="number" value="1" min="1" max="12">
              <span class="input-group-btn input-numerical-right">
                <button type="button" class="btn btn-white">+</button>
              </span>
            </div>
          </div>
          <div>
            <button class="btn btn-primary btn-lg ml-auto">Add to Cart</button>
          </div>
        </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>

<div class="feature-section mt-5 container-fluid">
  <h2 class="text-uppercase container text-center section-heading">Suggested Accessories</h2>
  <div class="slick-slider">
      {% for menu in site.main_menu %}

      {% if menu.url == '/accessories/' %}

      {% for subitem in menu.subitems %}


      {% for sitepage in site.pages %}


      {% if subitem.url == sitepage.url %}
      <div class="feature-section product-misc">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
        
                <!-- Use [0] to verify data type to be either string or array -->


                  {% if sitepage.feature_image contains "://" %}
                    {% assign feature_image = sitepage.feature_image[0] %}
                  {% else %}
                    {% capture feature_image %}assets/images{{sitepage.feature_image[0]}}{% endcapture %}
                    {% assign feature_image = feature_image | relative_url %}
                  {% endif %}
                  <img class="img-fluid" src="{{ feature_image }}">
              </div>
              <div class="col-sm-6">
                <h2 class="text-uppercase mb-3">{{ sitepage.title }}</h2>
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h3>$39.00</h3>
                  <small class="text-muted">0401</small>
                </div>
                <div class="user-content">
                {{ sitepage.content | markdownify | truncate: 100, '...' }}
                </div>
                
                <h5>Colors</h5>
                <div class="d-flex mb-3">
                  <div class="color-option product-options" style="background-color: #e4c5b7"></div>
                  <div class="color-option product-options" style="background-color: #df4468"></div>
                </div>
                <div class="d-md-flex justify-content-between align-items-center">
                  <div>
                    <h5>Quantity</h5>
                    <div class="input-group input-group-numerical mb-4">
                      <span class="input-group-btn input-numerical-left">
                        <button type="button" class="btn btn-white">-</button>
                      </span>
                     <input class="form-control" type="number" value="1" min="1" max="12">
                     <span class="input-group-btn input-numerical-right">
                       <button type="button" class="btn btn-white">+</button>
                     </span>
                    </div>
                  </div>
                  <div>
                  <button class="btn btn-primary btn-lg ml-auto">Add to Cart</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% endif %}

      {% endfor %}

      {% endfor %}

      {% endif %}

      {% endfor %}
  </div>

</div>

{% if page.suggetion %}

<div class="feature-section mt-5">
  <div class="container">
    <h2 class="text-center">You May Also Like</h2>
    <div class="row">
      {% assign menu = site.main_menu | where: "name", page.suggetion.collection | first %}
      {% assign currentNum = 0 %}
      {% assign truncateNum = 3 %}
      {%- for subitem in menu.subitems -%}
        {%- for suggetionCategory in page.suggetion.categories -%}

        {% assign suggetionDowncase = suggetionCategory | downcase %}
      
        {% assign suggetionPage = site.pages | where: "url", subitem.url | where: "categories", page.suggetion.name | first %}

        {% if suggetionPage and currentNum < truncateNum %}
        <div class="col-sm-4">
          {% include product_card.html data=suggetionPage %}
          {% assign currentNum = currentNum | plus: 1 %}
        </div>
        {% endif %}

        {%- endfor -%}
          
      {%- endfor -%}
    </div>
  </div>
</div>
{% endif %}