.feature-section {
  position: relative;
}

.feature-section > .container {
  position: relative;
}

.section-heading {
  letter-spacing: 0.15em;
  //word-spacing: 0.3em;
  overflow: hidden;
  position: relative;

  &::before,
  &::after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &::before {
    right: 1em;
    margin-left: -50%;
  }

  &::after {
    left: 1em;
    margin-right: -50%;
  }
}

.section-note {
  position: absolute;
  filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.7));
  left: -150px;
  top: 55px;
  max-width: 350px;
  z-index:99;
}

.container-lg {
  max-width: 1400px;
}