.header-icons {
  .btn {
    &.search-svg {
      border-left: 0;
    }

    border-left: 2px solid #eee;
    border-radius: 0;
    border-top: 0;
    border-bottom: 0;
    color: darken($color-accent, 10%);
    //border-right: 1px solid #eee;
  }
}

.search {
  position: relative;
  width:100%;
  overflow: hidden;
}

.search-input {
  width: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  height: 100%;

  &.active {
    width: 100%;
    opacity: 1;
  }
}
.search-svg {
  position: absolute;
  top: 0;
  right: 0;

  &:hover {
    color: #000;
  }

  &.active {
    background: $color-accent;
    color: #FFF;

    &:hover {
      background: darken($color-accent, 20%);
    }
  }
}