$font-roboto: Roboto, -apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$font-roboto-regular: -apple-system,BlinkMacSystemFont,Roboto-Regular,Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

@font-face {
  font-family: Roboto;
  src: url('./fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: Roboto-Regular;
  src: url('./fonts/Roboto-Regular.ttf');
}

body {
  font-family: $font-roboto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-roboto-regular;
}

.user-content ul {
  padding-left: 1.5rem;
  line-height: 2rem;
}

strong, b {
  font-family: $font-roboto-regular;
}

hr {
  border-color: $color-secondary;
}

a:hover, a.active {
  color: $color-accent;
}