.outline-box {
  font-size: 2.2em;
  text-align: center;
  border: 5px double white;
}

.font-handwriting {
  font-family: "French Script MT";
  font-size: 1.8em;
}

.testimonial {
  text-align: center;
  font-family: Pristina;
  font-size: 2em;
}